@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;display=swap');

*{
  padding: 0;
  margin: 0;
  border-radius: 100px;
  box-sizing: border-box;
}
:root{
    --primary-color: purple;
    --text-color: #727171;
}
html{
    font-size: 15px;
}
body{
    font-family: Inter, sans-serif;
    background-color: black;
    color: white;
}

img {
    width: 100%
}

a {
    text-decoration: none;
    color: white;
}
.description {
    margin-top: 0rem;
    font-weight: 400;
    color: var(--text-color);
}
.title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}
.item_pretitle {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300;
}
.item_title {
    font-size: 1.3rem;
    color: white;
    font-weight: 300;
    margin: 0.5rem 0;
}
.item_subtitle {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

/* layouts */
.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background: #070707;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
}
@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 3rem;
    }
}
.profile {
    grid-column: 1/-1;
    margin-bottom: 0.9rem;
}
.group-1 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.group-2 {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
.group-3 {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
.group-3 > div {
    flex: 1;
}
@media only screen and (max-width: 768px) {
    .profile {
        margin-bottom: 0;
    }
    .group-3 {
        flex-direction: column;
    }
}
/* profile*/
.profile_container {
    display: flex;
    gap: 2.5rem;
}
.profile_profileImg{
    max-width: 250px;
}
.profile_name_firstName{
    color: purple;
    font-weight: 200;
    font-size:clamp(2rem, 8vw, 4rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
}
.profile_name_lastName{
    color: var(--text-color);
    font-weight: 700;
    font-size: clamp(3rem, 3vw, 4rem);
    text-transform: uppercase;
    display: block;
}
.profile_title{
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
}
.downloadBtn {
    display: block;
    text-decoration: underline;
    font-size: 1.6rem;
    margin-top: 1rem;
}
.downloadBtn:hover {
    color:var(--primary-color);
}
@media only screen and (max-width: 768px) {
    .profile_container{
        flex-direction: column;
        gap: 1rem;
    }
}

/*skills*/

.skill_list {
    margin-top: 0.5rem;
    margin-left: 2rem;
    line-height: 1.8;
    font-size: 1.3rem;
}
.reference_name {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0.5rem;
    line-height: 1.8;

}

.edu_item {
    margin-top: 0.7rem;
    font-size: 1.3rem;
}

.exp_item {
    margin-top: 0.7rem;
    font-size: 1.5rem;
}
.certification_item {
    margin-top: 0.7rem;
    font-size: 1.5rem;
}
.interest_items {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.interest_item {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.interest_item svg {
    width: 2rem;
}

.social_item {
    margin-top: 0.5rem;
}

.social_item {
    margin-top: 1.5rem;
    font-size: 1.8;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    color: var(--text-color);
    
}
.social_item:hover {
    color: var(--primary-color)
}
.social_item svg {
    width: 2rem;
}

hr {
    grid-column: 1/-1;
    width: 80%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 1rem;
    border: none;
    border-top: 2px solid rgba(128, 128, 128, 0.229);
}
@media only screen and (max-width: 768px) {
    hr {
        margin: 0 auto;
    }
}
.color{
    color: var(--text-color)
}